{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
      "tier1" : [ 
	    { "item" : "geocacheuncommonbox" },
		{ "item" : "geocachecommonbox" },
		{ "item" : "geocacherarebox" },
		{ "item" : "geocachelegendarybox" },
		{ "item" : "geocacheblankdatalog" },
	    { "item" : "geocachecraftingstation" },
	    { "item" : "geotransmitter" },
	    { "item" : "geolocatorpanel" },
		{ "item" : "geocachecommon" }
	  ]
  }
}